body, div, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption{
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #333;
  font-weight: normal;
  font-family:"Helvetica", "Microsoft Yahei";
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;

}

.fl{
  float: left;
}

.fr{
  float: right;
}
.tc{
  text-align: center;
}

.tr{
  text-align: right;
}
.hide{
  display: none;
}
.hidden{
  overflow:hidden;
}
.show{
  display: block;
}
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vm{
  vertical-align: middle;
}
.p3{
  padding:.3rem;
}
.mt3{
  margin-top:.3rem;
}
.mt2{
  margin-top:.2rem;
}
.mt1{
  margin-top:.1rem;
}
.mb3hafe{
  margin-bottom:1.5rem;
}
.mb1{
  margin-bottom:.1rem;
}
.mb2{
  margin-bottom:.1rem;
}
.mb15{
  margin-bottom:.15rem;
}
.mr2{
  margin-right:.2rem;
}
.ml2{
  margin-left:.2rem;
}
.font22{
   font-size:.22rem;
 }
.font26{
  font-size:.26rem;
}
.font28{
  font-size:.28rem;
}
::-webkit-input-placeholder{
  color:#999!important;
  margin-top:-.1rem;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:#999!important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:#999!important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:#999!important;
}
input:focus,textarea:focus {border-color: #00b553!important;}
.el-textarea__inner:active{
  border-color: #00b553!important;
}
.el-textarea__inner:focus{
  border-color: #00b553!important;
}
footer .disabled{
  background: #dcdcdc;
}
footer .disabled:hover{
  opacity: 1;
}
footer .disabled:active{
  opicaty:1;
}
.position_r{
  position: relative;
}
.wid100 {width:100%;}/*字体颜色*/
.green00b{color:#00b553}
.redff7{color: #ff7866  }
.clear{clear: both;display: block;font-size: 0;height: 0;line-height: 0;overflow: hidden;}
/*margin padding*/
