<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dli.repositories.AppointmentRepo">
    <resultMap type="com.dli.entities.Appointment" id="app">
        <id column="appointment_id" property="appointmentId"/>
        <result column="appointment_title" property="appointmentTitle"/>
        <result column="sponsor_id" property="sponsorId"/>
        <result column="sponsor_name" property="sponsorName"/>
        <result column="sponsor_date" property="sponsorDate"/>
        <result column="avatar" property="avatar"/>
        <result column="key_word" property="keyword"/>
        <result column="follow_count" property="followerCount"/>
    </resultMap>

    <select id="getAppointmentList" resultMap="app">
        select a.appointment_id,a.appointment_title,a.sponsor_id,u.full_name sponsor_name, a.sponsor_date,u.avatar,ak.key_word, af.follow_count
from appointment a join user u on a.sponsor_id = u.user_id
join (select appointment_id, group_concat(word) key_word from appointment_keyword  group by appointment_id) ak on a.appointment_id = ak.appointment_id
left join (select appointment_id, count(distinct follower_id) follow_count from appointment_follower  group by appointment_id) af on a.appointment_id = af.appointment_id
where a.company_id = #{companyId}  and a.indicator=1
order by af.follow_count desc
limit #{skip},#{take};
    </select>

    <select id="getAppointmentById" resultMap="app">
        select a.appointment_id,a.appointment_title,a.sponsor_id,u.full_name sponsor_name, a.sponsor_date,u.avatar,ak.key_word, af.follow_count
from appointment a join user u on a.sponsor_id = u.user_id
join (select appointment_id, group_concat(word) key_word from appointment_keyword group by  appointment_id) ak on a.appointment_id = ak.appointment_id
left join (select appointment_id, count( distinct follower_id) follow_count from appointment_follower  group by  appointment_id) af on a.appointment_id = af.appointment_id
where a.appointment_id = #{appointmentId}
    </select>

    <resultMap id="appItem" type="com.dli.entities.AppointmentItem">
        <id column="item_id" property="itemId"/>
        <result column="content" property="content"/>
        <result column="sponsor_id" property="sponsorId"/>
        <result column="sponsor_name" property="sponsorName"/>
        <result column="sponsor_date" property="sponsorDate"/>
        <result column="follow_count" property="followCount"/>
        <result column="is_follow" property="isFollow"/>
    </resultMap>

    <select id="getAppointmentItemList" resultMap="appItem">
        select ai.item_id,ai.content,ai.sponsor_id,u.full_name sponsor_name, ai.sponsor_date,
case when af.follow_count is null then 0 else af.follow_count end follow_count,
case when af1.is_follow > 0 then 1 else 0 end is_follow
from appointment_item ai
join user u on ai.sponsor_id = u.user_id
left join (select item_id, count(*) follow_count from appointment_follower where follower_type='follower' group by item_id) af on ai.item_id = af.item_id
left join (select item_id, count(*) is_follow from appointment_follower where follower_id = #{userId} and follower_type='follower' group by item_id) af1 on ai.item_id = af1.item_id
where ai.appointment_id = #{appointmentId}
    </select>

    <resultMap id="appFollower" type="com.dli.entities.AppointmentFollower">
        <id column="appointment_id" property="appointmentId"/>
        <result column="follower_id" property="followerId"/>
        <result column="follower_name" property="followerName"/>
        <result column="avatar" property="avatar"/>
        <result column="follow_type" property="followType"/>
    </resultMap>

    <select id="getAppointmentFollowList" resultMap="appFollower">
        select af.appointment_id,af.follower_id,u.full_name followerName, u.avatar,af.follow_type
        from (
        select appointment_id,follower_id,follower_type follow_type
        from appointment_follower where appointment_id = #{appointmnetId} and  follower_type = 'appointment_sponsor'
        group by appointment_id,follower_id,follower_type
        union
        select appointment_id,follower_id,follower_type follow_type
        from appointment_follower where appointment_id = #{appointmnetId} and  follower_type = 'item_sponsor'
        and follower_id not in (select follower_id from appointment_follower where appointment_id = #{appointmnetId} and  follower_type = 'appointment_sponsor')
        group by appointment_id,follower_id,follower_type
        union
        select appointment_id,follower_id,follower_type follow_type
        from appointment_follower where appointment_id = #{appointmnetId} and  follower_type = 'follower'
        and follower_id not in (select follower_id from appointment_follower where appointment_id = #{appointmnetId} and  (follower_type = 'appointment_sponsor' or follower_type = 'item_sponsor')group by follower_id)
        group by appointment_id,follower_id,follower_type
        ) af join user u on af.follower_id = u.user_id
    </select>

    <insert id="follow">
        insert into appointment_follower (appointment_id,item_id,follower_id,follower_type)
        values (#{appointmentId},#{itemId},#{followerId},#{followerType})
    </insert>

    <delete id="cancelFollow">
        delete from  appointment_follower    where appointment_id =#{appointmentId}
        and item_id=#{itemId} and follower_id=#{followerId} and follower_type=#{followerType}
    </delete>

    <insert id="addItem">
        insert into  appointment_item(appointment_id,content,sponsor_id,sponsor_date)
        values (#{appointmentId}, #{content}, #{sponsorId}, #{sponsorDate});
    </insert>

    <select id="getMaxItemId" resultType="int">
        select max(item_id) item_id from appointment_item;
    </select>

    <insert id="addAppointment">
        insert into appointment(appointment_title,sponsor_id,sponsor_date,company_id,indicator)
        values(#{appointmentTitle},#{sponsorId},#{sponsorDate},#{companyId},1)
    </insert>

    <select id="getMaxAppointmentId" resultType="int">
        select max(appointment_id) item_id from appointment;
    </select>

    <insert id="addKeyword">
        insert into appointment_keyword(appointment_id,word)
        values (#{appointmentId},#{word})
    </insert>


    <select id="getMyAppointmentList" resultMap="app">
         select a.appointment_id,a.appointment_title,a.sponsor_id,u.full_name sponsor_name, a.sponsor_date,u.avatar,ak.key_word, af.follow_count
        from (select * from appointment
            where  appointment_id  in(select  DISTINCT appointment_id from
            appointment_follower  where  follower_id =#{userid}))a   join  user u on a.sponsor_id = u.user_id
        join (select appointment_id, group_concat(word) key_word from appointment_keyword group by  appointment_id) ak on a.appointment_id = ak.appointment_id
        left join (select appointment_id, count( distinct follower_id) follow_count from appointment_follower   group by appointment_id) af on a.appointment_id = af.appointment_id

        order by af.follow_count desc
        limit #{skip},#{take};
    </select>

    <resultMap type="com.dli.entities.SearchResult" id="SearchMap">
        <id column="appointment_id" property="id"/>
        <result column="appointment_title" property="title"/>
      <!-- <result column="sponsor_date" property="intro"/> -->
        <result column="avatar" property="icon" />

        <result column="sponsor_date" property="start"/>
        <result column="follow_count" property="count"/>
        <result column="person" property="person"/>
    </resultMap>

    <select id="searchAppointment" resultMap="SearchMap">
      select a.appointment_id,a.appointment_title,a.sponsor_date,u.avatar  ,
       af.follow_count  ,  u.full_name   as  person
     from appointment a join user u on a.sponsor_id = u.user_id

      left join (select appointment_id, count(*) follow_count from appointment_follower where follower_type='follower' group by appointment_id) af on a.appointment_id = af.appointment_id

      where a.appointment_title like '%${keyword}%' and a.company_id=#{companyid} and a.indicator=1  limit #{skip} ,#{take}
    </select>

    <resultMap id="backAppointment" type="com.dli.entities.BackAppointment">
        <id column="appointment_id" property="appointmentId"/>
        <result column="appointment_title" property="appointmentTitle"/>
        <result column="sponsor_name" property="sponsorName"/>
        <result column="sponsor_date" property="sponsorDate"/>
    </resultMap>

    <select id="getBackAppointmentList" resultMap="backAppointment">
        SELECT
            a.appointment_id,
            a.appointment_title,
            u.full_name sponsor_name,
            a.sponsor_date
        FROM
            appointment a
            left JOIN user u on a.sponsor_id = u.user_id
        WHERE
            a.company_id = #{companyId}
        AND a.indicator = 1
        <if test="title!=null"> AND a.appointment_title LIKE '%${title}%'</if>
        <if test="startDate!=null"> AND a.sponsor_date <![CDATA[>=]]> #{startDate}</if>
        <if test="endDate!=null">  AND  a.sponsor_date <![CDATA[<=]]> #{endDate}</if>
        LIMIT #{skip}, #{take}
    </select>

    <select id="getBackAppointmentCount" resultType="int">
        SELECT
        count(a.appointment_id)
        FROM
        appointment a
        WHERE
        a.company_id = #{companyId}
        AND a.indicator = 1
        <if test="title!=null"> AND a.appointment_title LIKE '%${title}%'</if>
        <if test="startDate!=null"> AND a.sponsor_date <![CDATA[>=]]> #{startDate}</if>
        <if test="endDate!=null">  AND  a.sponsor_date <![CDATA[<=]]> #{endDate}</if>
    </select>

    <resultMap id="backAppointmentDetail" type="com.dli.entities.BackAppointmentDetail">
        <id column="appointment_id" property="appointmentId"/>
        <result column="appointment_title" property="appointmentTitle"/>
        <result column="sponsor_name" property="sponsorName"/>
        <result column="sponsor_date" property="sponsorDate"/>
        <result column="key_word" property="keyWord" />
        <result column="follower_count" property="followerCount"/>
    </resultMap>

    <select id="getBackAppointment" resultMap="backAppointmentDetail">
        select a.appointment_id,a.appointment_title,u.full_name sponsor_name, a.sponsor_date,ak.key_word
        from appointment a join user u on a.sponsor_id = u.user_id
        join (select appointment_id, group_concat(word) key_word from appointment_keyword group by  appointment_id) ak on a.appointment_id = ak.appointment_id
        where a.appointment_id = #{appointmentId}
    </select>

    <resultMap id="backAppointmentItem" type="com.dli.entities.BackAppointmentDetailItem">
        <id column="item_id" property="itemId" />
        <result column="item_title" property="itemTitle" />
        <result column="sponsor_name" property="sponsorName"/>
        <result column="sponsor_date" property="sponsorDate"/>
        <result column="followerCount" property="followerCount"/>
    </resultMap>

    <select id="getBackAppointmentItem" resultMap="backAppointmentItem">
        select ai.item_id,ai.content item_title,u.full_name sponsor_name, ai.sponsor_date,
          case when   t.count   is not null then    t.count   else 0  end as  followerCount
        from appointment_item ai
        left join user u on ai.sponsor_id = u.user_id

left join (
select  item_id , count(*) as count from
    appointment_follower
where       follower_type =  'follower'  or   follower_type = 'item_sponsor'  group by  item_id )t  on ai.item_id= t.item_id

        where appointment_id = #{appointmentId}
    </select>

    <resultMap id="backAppointmentFollower" type="com.dli.entities.BackAppointmentFollower">
        <id column="follower_id" property="followerId" />
        <result column="follower_name" property="followerName"/>
        <result column="follower_type" property="followerType"/>
        <result column="department" property="department"/>
        <result column="area" property="area"/>
    </resultMap>

    <select id="getBackAppointmentFollowers" resultMap="backAppointmentFollower">

        select af.follower_id,u.full_name followerName, af.follow_type follower_type,u.department,u.area
        from (
        select appointment_id,follower_id,follower_type follow_type
        from appointment_follower where appointment_id = #{appointmnetId} and  follower_type = 'appointment_sponsor'
        group by appointment_id,follower_id,follower_type
        union
        select appointment_id,follower_id,follower_type follow_type
        from appointment_follower where appointment_id = #{appointmnetId} and  follower_type = 'item_sponsor'
        and follower_id not in (select follower_id from appointment_follower where appointment_id = #{appointmnetId} and  follower_type = 'appointment_sponsor')
        group by appointment_id,follower_id,follower_type
        union
        select appointment_id,follower_id,follower_type follow_type
        from appointment_follower where appointment_id = #{appointmnetId} and  follower_type = 'follower'
        and follower_id not in (select follower_id from appointment_follower where appointment_id = #{appointmnetId} and  (follower_type = 'appointment_sponsor' or follower_type = 'item_sponsor')group by follower_id)
        group by appointment_id,follower_id,follower_type
        ) af join user u on af.follower_id = u.user_id

    </select>

    <update id="closeAppointment">
        update appointment set indicator = 0 where appointment_id=#{appointmentId}
    </update>


    <select id="adminGetAppointmentList"   parameterType="com.dli.entities.adminAppointment"  resultType="com.dli.entities.adminAppointment">
        select  a.appointment_id ,  a.appointment_title , c.company_name,  b.business_id,  b.business_name, u.full_name as sponsor_idfull_name,
u.cell_phone as sponsor_idcell_phone ,  i.contact_person, i.phone_number,  a.sponsor_date  from  appointment a
join company  c on a.company_id = c.company_id
join   company_info i on c.company_id = i.company_id
join   business   b on c.business_id=  b.business_id
join user u  on  a.sponsor_id = u.user_id

 where   a.indicator=1
        <if test="company_name!=null"> AND c.company_name LIKE '%${company_name}%'</if>
        <if test="appointment_title!=null"> AND a.appointment_title LIKE '%${appointment_title}%'</if>
        <if test="business_id!=0">  AND  b.business_id  = #{business_id}</if>

        <if test="start!=null">and a.sponsor_date  &gt; #{start}</if>
        <if test="end!=null">and a.sponsor_date &lt; #{end}</if>
  LIMIT #{skip}, #{take}

    </select>





    <select id="adminGetAppointmentListCount"   parameterType="com.dli.entities.adminAppointment"  resultType="int">
        select  count(*)   from  appointment a
        join company  c on a.company_id = c.company_id
        join   company_info i on c.company_id = i.company_id
        join   business   b on c.business_id=  b.business_id
        join user u  on  a.sponsor_id = u.user_id

        where   a.indicator=1
        <if test="company_name!=null"> AND c.company_name LIKE '%${company_name}%'</if>
        <if test="appointment_title!=null"> AND a.appointment_title LIKE '%${appointment_title}%'</if>
        <if test="business_id!=0">  AND  b.business_id  = #{business_id}</if>

        <if test="start!=null">and a.sponsor_date  &gt; #{start}</if>
        <if test="end!=null">and a.sponsor_date &lt; #{end}</if>


    </select>

    <select id="adminGetAppointment"   resultType="com.dli.entities.adminAppointmentDetail"  >
        select  c.company_name , b.business_name  ,   a.appointment_title,  ak.key_word   ,
u.full_name   as sponsor_idfull_name , u.cell_phone   as sponsor_idcell_phone ,    i. contact_person,  i.phone_number  , a.sponsor_date   ,af.follow_count from
appointment a join company c on a.company_id =c.company_id
join company_info i on   a.company_id=i.company_id
join business b    on  c.business_id= b.business_id
join  user u on    a.sponsor_id = u.user_id

  join (
select appointment_id, group_concat(word) key_word from appointment_keyword group by  appointment_id
) ak on a.appointment_id = ak.appointment_id


 join (select appointment_id  , count( DISTINCT follower_id)  as follow_count  from  appointment_follower  group by appointment_id)af
 on a.appointment_id = af.appointment_id


where a.appointment_id= #{appointmentid}
    </select>

    <select id="adminGetAppointmentResource"  resultType="int">
        select    count(*)  as  appointment_count from    appointment where indicator=1;
    </select>

</mapper>