<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dli.repositories.EnrollmentRepo">

    <resultMap type="com.dli.entities.Enrollment" id="EnrollmentMap">
        <id column="enrollment_id" property="enrollment_id"/>
        <result column="title" property="title"/>
        <result column="intro" property="intro"/>
        <result column="icon" property="icon"/>
        <result column="pic" property="pic"/>
        <result column="company_id" property="company_id"/>
        <result column="indicator" property="indicator"/>
        <result column="created_at" property="created_at"/>
        <result column="updated_at" property="updated_at"/>
    </resultMap>


    <resultMap type="com.dli.entities.EnrollmentComment" id="EnrollmentCommentMap">
        <id column="comment_id" property="comment_id"/>
        <result column="user_id" property="user_id"/>
        <result column="enrollment_id" property="enrollment_id"/>
        <result column="star" property="star"/>
        <result column="comments" property="comments"/>
        <result column="created_at" property="created_at"/>
        <result column="indicator" property="indicator"/>
        <result column="user_idName" property="user_idName"/>
        <result column="user_idAvatar" property="user_idAvatar"/>
    </resultMap>


    <resultMap type="com.dli.entities.EnrollmentContent" id="EnrollmentContentMap">
        <id column="content_id" property="content_id"/>
        <result column="sequnce_num" property="sequnce_num"/>
        <result column="sequnce_title" property="sequnce_title"/>
        <result column="content" property="content"/>
        <result column="enrollment_id" property="enrollment_id"/>
        <result column="indicator" property="indicator"/>
        <result column="created_at" property="created_at"/>
        <result column="updated_at" property="updated_at"/>
    </resultMap>

    <resultMap type="com.dli.entities.EnrollmentPeriod" id="EnrollmentPeriodMap">
        <id column="period_id" property="period_id"/>
        <result column="enrollment_id" property="enrollment_id"/>
        <result column="teacher" property="teacher"/>
        <result column="count" property="count"/>
        <result column="start_date" property="start_date"/>
        <result column="end_date" property="end_date"/>
        <result column="location" property="location"/>
        <result column="indicator" property="indicator"/>
        <result column="created_at" property="created_at"/>
        <result column="updated_at" property="updated_at"/>
        <result column="study_count" property="study_count"/>
        <result column="collect_count" property="collect_count"/>
        <result column="enrollmentCollected" property="enrollmentCollected"/>
    </resultMap>


    <resultMap type="com.dli.entities.EnrollmentPeriodEnrollment" id="CombineMap">
        <id column="period_id" property="period_id"/>
        <result column="enrollment_id" property="enrollment_id"/>
        <result column="teacher" property="teacher"/>
        <result column="count" property="count"/>
        <result column="start_date" property="start_date"/>
        <result column="end_date" property="end_date"/>
        <result column="location" property="location"/>
        <result column="indicator" property="indicator"/>
        <result column="created_at" property="created_at"/>
        <result column="updated_at" property="updated_at"/>
        <result column="study_count" property="study_count"/>
        <result column="collect_count" property="collect_count"/>
        <result column="enrollmentCollected" property="enrollmentCollected"/>
        <result column="left_count" property="left_count"/>
        <result column="isFinished" property="isFinished"/>
        <result column="isEnrollemntAdded" property="isEnrollemntAdded"/>
        <result column="isReminderAdded" property="isReminderAdded"/>

        <result column="title" property="title"/>
        <result column="intro" property="intro"/>
        <result column="icon" property="icon"/>
        <result column="pic" property="pic"/>
        <result column="company_id" property="company_id"/>
    </resultMap>



    <resultMap type="com.dli.entities.EnrollmentReminderAndTarget" id="ReminderAndTargetMap">
        <id column="period_id" property="period_id"/>
        <result column="target_period_id" property="target_period_id"/>

    </resultMap>




     <select id="getEnrollmentPeriodListInprocess"  resultMap="CombineMap">
          select *   , count - study_count as left_count   from (
           select result.*  ,
            case  when  o1.renshu is not null then o1.renshu   else 0  end  as study_count,
            case  when   o2.userct  is not null then    o2.userct  else 0 end as collect_count
            from(
         select  p.*  ,   e.title, e.intro, e.icon, e.pic,e.company_id from enrollment_period  p   join   enrollment   e
         on p.enrollment_id= e.enrollment_id where    now()  &gt;=start_date  and   now()  &lt; end_date
         and    p.indicator=1 and e.indicator=1 and e.company_id=#{companyid})result
         left join (
         select period_id, count(*)  as  renshu from
         user_enrollment   group by  period_id )o1   on  result.period_id =o1.period_id
         left join(
         select item_id as period_id,  count(user_id) as userct from  user_favor where item_type='enrollment' group by item_id)o2
         on   result.period_id= o2.period_id
         )t where count  &gt; study_count
         order by study_count desc, start_date  desc  limit #{skip},#{take};

     </select>


      <select id="getEnrollmentPeriodListFinished"  resultMap="CombineMap">
            select *   , count - study_count as left_count   from (
           select result.*  ,
            case  when  o1.renshu is not null then o1.renshu   else 0  end  as study_count,
            case  when   o2.userct  is not null then    o2.userct  else 0 end as collect_count,
            case when   now()  &lt; end_date then 0 else 1 end as isFinished,
             case when o3.period_id is null then 0 else 1 end as isReminderAdded
            from(
         select  p.*  ,   e.title, e.intro, e.icon, e.pic,e.company_id from enrollment_period  p   join   enrollment   e
         on p.enrollment_id= e.enrollment_id where
           p.indicator=1 and e.indicator=1 and e.company_id=#{companyid})result
         left join (
         select period_id, count(*)  as  renshu from
         user_enrollment  group by  period_id )o1   on  result.period_id =o1.period_id
         left join(
         select item_id as period_id,  count(user_id) as userct from  user_favor where item_type='enrollment' group by item_id)o2
         on   result.period_id= o2.period_id

         left join(
         select * from  user_enrollment_reminder  where user_id= #{userid})o3
         on   result.period_id= o3.period_id
         )t where count   &lt;= study_count   or   now()  &gt;= end_date
         order by study_count desc, start_date  desc  limit   #{skip},#{take};

      </select>

     <select id="getReminderMappingCount"  resultType="int">
    select count(*) from  user_enrollment_reminder  where period_id=#{periodid} and user_id=#{userid};
     </select>

    <insert id="addReminderMapping" >
    insert   user_enrollment_reminder  values(  #{periodid}, #{userid}, 0 ,null   );
    </insert>


    <select id="getEnrollmentPeriodByID"  resultMap="CombineMap">
         select *   , count - study_count as left_count   from (
           select result.*  ,
            case  when  o1.renshu is not null then o1.renshu   else 0  end  as study_count,
            case  when   o2.userct  is not null then    o2.userct  else 0 end as collect_count
            from(
         select  p.*  ,   e.title, e.intro, e.icon, e.pic,e.company_id from enrollment_period  p   join   enrollment   e
         on p.enrollment_id= e.enrollment_id where
       p.indicator=1 and e.indicator=1 and p.period_id=#{periodid})result
         left join (
         select period_id, count(*)  as  renshu from
         user_enrollment  GROUP  by period_id)o1   on  result.period_id =o1.period_id
         left join(
         select item_id as period_id,  count(user_id) as userct from  user_favor where item_type='enrollment' group by item_id)o2
         on   result.period_id= o2.period_id
         )t
    </select>


    <select id="getEnrollmentMappingCount"  resultType="int">
        select count(*) from  user_enrollment  where period_id=#{periodid} and user_id=#{userid};
    </select>

    <insert id="addEnrollmentMapping" >
        insert   user_enrollment  values(  #{periodid}, #{userid}  );
    </insert>


    <select id="getEnrollmentContentListByID"  resultMap="EnrollmentContentMap">
           select * from  enrollment_content  where enrollment_id in
         ( select enrollment_id from enrollment_period  where period_id=#{periodid} )  order by sequnce_num
    </select>



    <insert id="addEnrollmentComment" >
        insert  enrollment_comment values(null, #{userid},#{enrollmentid}, #{star},#{comment}, now() ,1 );
    </insert>

    <select id="getEnrollmentCommentList" resultMap="EnrollmentCommentMap">
        select  c.*  , u.full_name as user_idName, u.avatar as   user_idAvatar from   enrollment_comment  c  join user u on  c.user_id=u.user_id  where c.indicator =1
        and  enrollment_id=#{enrollmentid}   order by  c.created_at desc;
    </select>


    <select id="getMyEnrollmentListEnrolled"  resultMap="CombineMap">

          select *   , count - study_count as left_count   from (
           select result.*  ,
            case  when  o1.renshu is not null then o1.renshu   else 0  end  as study_count,
            case  when   o2.userct  is not null then    o2.userct  else 0 end as collect_count,
                 case when   now()  &lt; end_date then 0 else 1 end as isFinished
            from(
         select  p.*  ,   e.title, e.intro, e.icon, e.pic,e.company_id from enrollment_period  p   join   enrollment   e
         on p.enrollment_id= e.enrollment_id where
        p.indicator=1 and e.indicator=1 and e.company_id=#{companyid})result
         left join (
         select period_id, count(*)  as  renshu from
         user_enrollment   group by  period_id )o1   on  result.period_id =o1.period_id
         left join(
         select item_id as period_id,  count(user_id) as userct from  user_favor where item_type='enrollment' group by item_id)o2
         on   result.period_id= o2.period_id

           join
         (

         select  period_id from  user_enrollment where user_id=#{userid}
         )o3
          on   result.period_id= o3.period_id

         )t
         order by study_count desc, start_date  desc  limit #{skip},#{take};


    </select>


    <select id="getMyEnrollmentListInReminder"  resultMap="CombineMap">

    select *   , count - study_count as left_count   from (
    select result.*  ,
    case  when  o1.renshu is not null then o1.renshu   else 0  end  as study_count,
    case  when   o2.userct  is not null then    o2.userct  else 0 end as collect_count,
    case when   now()  &lt; end_date then 0 else 1 end as isFinished
    from(
    select  p.*  ,   e.title, e.intro, e.icon, e.pic,e.company_id from enrollment_period  p   join   enrollment   e
    on p.enrollment_id= e.enrollment_id where
    p.indicator=1 and e.indicator=1 and e.company_id=#{companyid})result
    left join (
    select period_id, count(*)  as  renshu from
    user_enrollment   group by  period_id )o1   on  result.period_id =o1.period_id
    left join(
    select item_id as period_id,  count(user_id) as userct from  user_favor where item_type='enrollment' group by item_id)o2
    on   result.period_id= o2.period_id
    join
    (
    select  period_id from  user_enrollment_reminder where user_id=#{userid}
    )o3
    on   result.period_id= o3.period_id
    join
    (
    select enrollment_id , max(period_id) as period_id from   enrollment_period where  enrollment_id in (
    select   enrollment_id from    enrollment_period where   period_id in (
    select   period_id  from   user_enrollment_reminder  where user_id= #{userid}
    ))  group by enrollment_id
    )o4  on result.enrollment_id=o4.enrollment_id and   result.period_id= o4.period_id
    )t
    order by study_count desc, start_date  desc  limit #{skip},#{take};
    </select>

    <select id="getMyCollectionList"  resultMap="CombineMap">
        select *   , count - study_count as left_count   from (
        select result.*  ,
        case  when  o1.renshu is not null then o1.renshu   else 0  end  as study_count,
        case  when   o2.userct  is not null then    o2.userct  else 0 end as collect_count,
       case when   now()  &lt; end_date then 0 else 1 end as isFinished
        from(
        select  p.*  ,   e.title, e.intro, e.icon, e.pic,e.company_id from enrollment_period  p   join   enrollment   e
        on p.enrollment_id= e.enrollment_id where   p.period_id in(select  item_id from user_favor  where  user_id=#{userid} and item_type='enrollment')
        and    p.indicator=1 and e.indicator=1)result
        left join (
        select period_id, count(*)  as  renshu from
        user_enrollment   group by  period_id )o1   on  result.period_id =o1.period_id
        left join(
        select item_id as period_id,  count(user_id) as userct from  user_favor where item_type='enrollment' group by item_id)o2
        on   result.period_id= o2.period_id
        )t
        order by study_count desc, start_date  desc  limit #{skip},#{take};

    </select>

    <select id="getReminderList"    resultMap="ReminderAndTargetMap">
        select  o1.period_id , o2.period_id as  target_period_id from (
select p.enrollment_id   ,r.* from     enrollment_period   p join   ( select  *  from  user_enrollment_reminder where user_id =#{userid}  and   is_read=0)r
  on    p.period_id =r.period_id)o1
join (  select       enrollment_id,  max(period_id)  as period_id   from  enrollment_period  where enrollment_id in ( select    enrollment_id from  enrollment_period where period_id in (
 select  period_id  from  user_enrollment_reminder where   is_read=0  and user_id =#{userid} ))    group by    enrollment_id  )o2
on o1.enrollment_id =o2.enrollment_id  where  o1.period_id != o2.period_id
    </select>
</mapper>