<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dli.repositories.LogonRepo">

    <resultMap  id="UserMap" type="com.dli.entities.User">
        <id column="user_id" property="user_id"/>
        <result column="cell_phone" property="cell_phone"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="job_number" property="job_number"/>
        <result column="avatar" property="avatar"/>
        <result column="full_name" property="full_name"/>
        <result column="company_id" property="company_id"/>
        <result column="indicator" property="indicator"/>
        <result column="created_at" property="created_at"/>
        <result column="updated_at" property="updated_at"/>
        <result column="token" property="token"/>
    </resultMap>


    <resultMap  id="SMSMap" type="com.dli.entities.SMS">
        <id column="sms_id" property="sms_id"/>
        <result column="user_id" property="user_id"/>
        <result column="cell_phone" property="cell_phone"/>
        <result column="code" property="code"/>
        <result column="sms_type" property="sms_type"/>
        <result column="created_at" property="created_at"/>
    </resultMap>

    <resultMap  id="LogonHistoryMap" type="com.dli.entities.LogonHistory">
        <result column="full_name" property="full_name"/>
        <result column="department" property="department"/>
        <result column="area" property="area"/>
        <result column="logon_at" property="logon_at"/>
    </resultMap>



    <select id="getUserByPhoneNumber"   resultMap="UserMap">
        select * from user where cell_phone= #{0} and indicator=1
    </select>

    <insert id="addSMS" >
        INSERT INTO sms  VALUES (null, #{userid}, #{cellphone},  #{vcode},#{smstype},#{now} );
    </insert>


    <select id="checkSMS" resultType="int" >
        select count(*)  from  sms where   cell_phone =#{cellphone} and code=#{vcode} and TIMESTAMPDIFF(SECOND  , created_at,now()) &lt;=300;
    </select>

    <update id="updatePwdByCellphone">
        update user set password=#{pwd} where cell_phone=#{cellphone}
    </update>

    <select id="logon"  resultType="int">
        select count(*) from user u join  user_role  m on u.user_id =m.user_id where  m.role_id in (1,2)  and  cell_phone=#{cellphone} and password=#{pwd}
    </select>


    <select id="getUserByID" resultMap="UserMap">
        select * from user where user_id=#{id};
    </select>

    <select id="getUserByToken" resultMap="UserMap">
        select * from user where token=#{token}
    </select>

    <delete id="deleteSMSOverdue">
        DELETE from sms  where  TIMESTAMPDIFF(SECOND,   created_at , now()) &gt; 300
    </delete>

    <select id="getSMSHistoryByCellphone"  resultMap="SMSMap">
        select * from  sms   WHERE  cell_phone=#{cellphone}  order by created_at desc limit 0,3
    </select>

    <select id="backlogon"  resultType="int">
        select count(*) from user u join user_role m on u.user_id= m.user_id where  m.role_id=2 and cell_phone=#{cellphone} and password=#{pwd}
    </select>

    <insert id="addLogonHistory">
        insert  logon_history values( #{uesrid}, NOW())
    </insert>

    <select id="backGetLogonHistoryList"  parameterType="com.dli.entities.LogonHistory"  resultMap="LogonHistoryMap">
        select   u.*, h.logon_at from  logon_history  h  join  user u on h.user_id = u.user_id
        where   u.company_id=#{company_id}
         <if test="full_name!=null">and  u.full_name like '%${full_name}%'</if>
         <if test="department!=null">and  u.department like '%${department}%'</if>
         <if test="area!=null">and  u.area like '%${area}%'</if>
         <if test="start!=null">and  h.logon_at &gt; #{start}</if>
         <if test="end!=null">and  h.logon_at &lt; #{end}</if>
        order by h.logon_at
        desc LIMIT #{skip}, #{take}
    </select>


    <select id="backGetLogonHistoryListCount"  parameterType="com.dli.entities.LogonHistory"   resultType="int">
        select  count(*) from  logon_history  h  join  user u on h.user_id = u.user_id
        where   u.company_id=#{company_id}
        <if test="full_name!=null">and  u.full_name like '%${full_name}%'</if>
        <if test="department!=null">and  u.department like '%${department}%'</if>
        <if test="area!=null">and  u.area like '%${area}%'</if>
        <if test="start!=null">and  h.logon_at &gt; #{start}</if>
        <if test="end!=null">and  h.logon_at &lt; #{end}</if>
    </select>

</mapper>