<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dli.repositories.UserRepo">

    <resultMap type="com.dli.entities.User" id="UserMap">
        <id column="user_id" property="user_id"/>
        <result column="cell_phone" property="cell_phone"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="job_number" property="job_number"/>
        <result column="avatar" property="avatar"/>
        <result column="full_name" property="full_name"/>
        <result column="company_id" property="company_id"/>
        <result column="token" property="token"/>
        <result column="indicator" property="indicator"/>
        <result column="created_at" property="created_at"/>
        <result column="updated_at" property="updated_at"/>
    </resultMap>


    <select id="getUserByUserID" resultMap="UserMap">
        select * from user where user_id = #{userid}  ;
    </select>


    <update id="updatePasswordByUserid">
        update   user  set   password =#{password}  where user_id=#{userid}
    </update>

    <insert id="backAddUser"    parameterType="com.dli.entities.User"   useGeneratedKeys="true"   keyProperty="user_id" >
        insert  user values(  0, #{cell_phone}, null,#{email}, #{job_number}, #{avatar},#{full_name}, #{department} ,#{area},null,#{company_id},1,now(),now())
    </insert>

    <insert id="backAddUserRoleMapping"  >
       insert user_role values( #{userid}, #{roleid} )
    </insert>

    <update id="backUpdateUser"  parameterType="com.dli.entities.User" >
        update  user
set  cell_phone =#{cell_phone},
email=#{email},
job_number=#{job_number},
full_name=#{full_name},
department=#{department},
area=#{area},
updated_at =now()
where user_id=#{user_id}
    </update>

    <select id="backGetUserList"  resultMap="UserMap">
        select * from user where company_id=#{company_id} and indicator=1
           <if test="full_name!=null">and full_name like '%${full_name}%'</if>
           <if test="cell_phone!=null">and cell_phone like '%${cell_phone}%' </if>
           <if test="department!=null">and department like '%${department}%'</if>
           <if test="area!=null">and area like '%${area}%'</if>
        limit #{skip}, #{take}
    </select>


    <select id="backGetUserListCount"   resultType="int">
        select count(*) from user where company_id=#{company_id} and indicator=1
        <if test="full_name!=null">and full_name like '%${full_name}%'</if>
        <if test="cell_phone!=null">and cell_phone like '%${cell_phone}%' </if>
        <if test="department!=null">and department like '%${department}%'</if>
        <if test="area!=null">and area like '%${area}%'</if>
    </select>

    <update id="backDisableUserByID">
          update  user set  indicator=0 where user_id =#{userid}
    </update>

    <select id="backGetCompanyAdminList"   resultMap="UserMap">
        select u.* from user  u join user_role   m on u.user_id = m.user_id where m.role_id =2 and u.company_id =#{companyid}     limit #{skip}, #{take}
    </select>


    <select id="backGetCompanyAdminListCount"    resultType="int">
        select  count(*) from user  u join user_role   m on u.user_id = m.user_id where m.role_id =2 and u.company_id =#{companyid}
    </select>

    <update id="backUpdateUserRole" >
        update  user_role set role_id= #{roleid} where user_id =#{userid}
    </update>



    <select id="backGetCompanyEmployeeList"   resultMap="UserMap">
        select u.* from user  u join user_role   m on u.user_id = m.user_id where m.role_id =1 and u.company_id =#{companyid}
        <if test="fullname!=null">   and u.full_name like '%${fullname}%'</if>
           limit #{skip}, #{take}
    </select>


    <select id="backGetCompanyEmployeeListCount"    resultType="int">
        select  count(*) from user  u join user_role   m on u.user_id = m.user_id where m.role_id =1 and u.company_id =#{companyid}

        <if test="fullname!=null">   and u.full_name like '%${fullname}%'</if>
    </select>
</mapper>