
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--<meta id=”viewport” name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no”>-->
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name=”MobileOptimized” content=”320″>
  <meta name=”format-detection” content=”telephone=no”>
  <title>smile</title>
  <link href="../css/common.css" type="text/css" rel="stylesheet"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
 <script>

(function (doc, win) {
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                if(clientWidth>=640){
                    docEl.style.fontSize = '100px';
                }else{
                    docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                }
            };

        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);

</script>
  <style>
    .el-rate__icon {
      font-size: .16rem;
      margin-right: .006rem;
    }
  </style>
</head>
<body>
<div id="app">
<header>
  <div class="logo_c">
    <a class="tl" href="../course/course.html"><img src="../img/back.png" alt="返回"/></a>
    <a class="tc" href="../course/course3.html"><img src="../img/logo.png" alt="smile"  class="logo1"/></a>
    <a class="tr" href="../course/course5.html"><img src="../img/home.png" alt="更多" /></a>
  </div>
  </header>
  <section>
     <div class="course_banner">
       <a href="../course/course5.html"><img src="../img/banner_03.png"/></a>
     </div>
    <div class="course_tit">
       <h3>销售经理十大必杀技</h3>
       <ul>
         <li class="fl">
            <span class="icon icon1"></span>
            <span class="green00b">80</span>
         </li>
         <li class="fl">
           <span class="icon icon2"></span>
           <span class="redff7">80</span>
         </li>
         <li class="fr">
           <!--<span id="c_save" @click="heartClick()" :class="heartActive ? 'icon icon5' : 'icon icon4' "></span>-->
           <span id="c_save" @click="heartClick()" :class="{icon:true,icon4:!heartActive,icon5:heartActive}"></span>
         </li>
         <li class="fr">
           <span class="icon icon3"></span>
         </li>
       </ul>

    </div>
    <!--<ul class="course_nav " id="nav">-->
      <!--<li class=""><a href="">课程信息</a></li>-->
      <!--<li class=""><a href="">课程目录</a></li>-->
      <!--<li class="cur"><a href="">课程评价</a></li>-->
    <!--</ul>-->
    <el-tabs class=" " v-model="activeName" @tab-click="handleClick">
      <el-tab-pane  label="课程信息" name="first">
        <ul style="overflow: hidden" class="list_border course_con">
          <li class="">
            <span>责任人 :</span>  王小明
          </li>
          <li>
            <span>部门 :</span>  销售部
          </li>
          <li>
            <span>有效期 :</span>  2017-10-16
          </li>
          <li>
            <span>课程简介 :</span>
            <p>
              We all know that environment is so important to ourselves and our future generations.
              Natural resources have been depleted in an unprecedented scale. The environment has been polluted in a way that never happened before.
              It is certain that the world and all the living organism on it are going straight to hell.
              But why those in power, no matter how loud they speak out environmental protection, very few of them really care. The reason is simple.
              Human beings are greedy in nature. In ancient times, technology is lacking,
              human beings did not have the right tool to exploit the nature on large scale.
              With industrial revolution and the development of science and technology,
              these things can be achieved with relative ease. It can be said that the development of science can be a gospel and a curse on human race at the same time.
              It is more than certain that the world is going straight to hell. Climate change comes at an unprecedented rate. We can see all the polar ice sheet melt in our own lifetime.
              Cities by the sea will be flooded. Summer will get unbearably hot. Almost all the natural resources will be depleted. It is not that world leaders are unaware of this ,
              but because of their greed no one is able to put the interest of the general public and future generations over their own pride. Development sounds an untouchable truth.
              Anything that comes in its way will be neglected. One thing that we never ponder is that the space and resources on this planet is limited which means that the raw material and space for development is also limited.
              Now matter how great and intelligent human beings might be, we have our own weakness. The more intelligent a creature is, the more physically vulnerable it is. With the worsening of the living environment, one can
            </p>
          </li>
        </ul>
      </el-tab-pane>
      <el-tab-pane label="课程目录" name="second">
        <ul style="overflow: hidden"  class="list_border course_con a_v">
          <li class="con_list a">
            <a>
              <span class="media_img media_img1"></span>
              <span class="c_list_font">1.1 视频名称.mp4</span>
            </a>
          </li>
          <li class="con_list">
            <a>
              <span class="media_img media_img2"></span>
              <span class="c_list_font">1.2 Powerpoint.ppt</span>
            </a>
          </li>
          <li class="con_list">
            <a>
              <span class="media_img media_img3"></span>
              <span class="c_list_font">1.3 word.doc</span>
            </a>
          </li>
          <li class="con_list">
            <a>
              <span class="media_img media_img4"></span>
              <span class="c_list_font">1.4 Img.jpg</span>
            </a>
          </li>
        </ul>
      </el-tab-pane>
      <el-tab-pane label="课程评价" name="third">
        <ul style="overflow: hidden" class="list_border course_con">
          <li class="">
            <el-row style="font-size: .22rem;">
              <el-col :span="4"><img class="person_header" src="../img/img01.jpg"></el-col>
              <el-col :span="6" class="">
                <p>张小娴</p>
                <el-rate
                  v-model="value5"
                  disabled
                  text-color="#ff9900"
                  text-template="{value}">
                </el-rate>
              </el-col>
              <el-col :span="14">For love that seeks aught but the disclosure of its own mystery is not love but a net cast forth: and only the unprofitable is caught. the disclosure of  caught. </el-col>
            </el-row>
          </li>
          <li>
            <el-row style="font-size: .22rem;">
              <el-col :span="4"><img class="person_header" src="../img/img01.jpg"></el-col>
              <el-col :span="6" class="">
                <p>张小娴</p>
                <el-rate
                  v-model="value5"
                  disabled
                  text-color="#ff9900"
                  text-template="{value}">
                </el-rate>
              </el-col>
              <el-col :span="14">For love that seeks aught but the disclosure of its own mystery is not love but a net cast forth: and only the unprofitable is caught. the disclosure of  caught. </el-col>
            </el-row>
          </li>
          <li>
            <el-row style="font-size: .22rem;">
              <el-col :span="4"><img class="person_header" src="../img/img01.jpg"></el-col>
              <el-col :span="6" class="">
                <p>张小娴</p>
                <el-rate
                  v-model="value5"
                  disabled
                  text-color="#ff9900"
                  text-template="{value}">
                </el-rate>
              </el-col>
              <el-col :span="14">For love that seeks aught but the disclosure of its own mystery is not love but a net cast forth: and only the unprofitable is caught. the disclosure of  caught. </el-col>
            </el-row>
          </li>
          <li>
            <el-row style="font-size: .22rem;">
              <el-col :span="4"><img class="person_header" src="../img/img01.jpg"></el-col>
              <el-col :span="6" class="">
                <p>张小娴</p>
                <el-rate
                  v-model="value5"
                  disabled
                  text-color="#ff9900"
                  text-template="{value}">
                </el-rate>
              </el-col>
              <el-col :span="14">For love that seeks aught but the disclosure of its own mystery is not love but a net cast forth: and only the unprofitable is caught. the disclosure of  caught. </el-col>
            </el-row>
          </li>
        </ul>
      </el-tab-pane>
    </el-tabs>

  </section>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                visible: false,
                heartActive:true,
                value5: 3,
              activeName: 'second'
            }
        },
        methods : {
          heartClick : function() {
            this.heartActive = this.heartActive ? false : true;
            console.log(tab, event);
          }
        }
    })
</script>
</body>
</html>
