
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--<meta id=”viewport” name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no”>-->
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name=”MobileOptimized” content=”320″>
  <meta name=”format-detection” content=”telephone=no”>
  <title>smile</title>
  <link href="../css/common.css" type="text/css" rel="stylesheet"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
 <script>

(function (doc, win) {
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                if(clientWidth>=640){
                    docEl.style.fontSize = '100px';
                }else{
                    docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                }
            };

        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);

</script>
  <style>
    .el-rate__icon {
      font-size: .16rem;
      margin-right: .006rem;
    }
  </style>
</head>
<body>
<div id="app">
<header>
  <div class="logo_c">
    <a class="tl" href="../course/course.html"><img src="../img/back.png" alt="返回"/></a>
    <a class="tc" href="../course/course3.html"><img src="../img/logo.png" alt="smile"  class="logo1"/></a>
    <a class="tr" href="../course/course5.html"><img src="../img/home.png" alt="更多" /></a>
  </div>
  </header>
  <section>
     <div class="course_banner">
       <a href="../course/course5.html"><img src="../img/banner_03.png"/></a>
     </div>
    <div class="course_tit">
       <h3>销售经理十大必杀技</h3>
       <ul class="c_icon">
         <li class="fl">
            <span class="icon icon1"></span>
            <span class="green00b">80</span>
         </li>
         <li class="fl">
           <span class="icon icon2"></span>
           <span class="redff7">80</span>
         </li>
         <li class="fr">
           <!--<span id="c_save" @click="heartClick()" :class="heartActive ? 'icon icon5' : 'icon icon4' "></span>-->
           <span id="c_save" @click="heartClick()" :class="{icon:true,icon4:!heartActive,icon5:heartActive}"></span>
         </li>
         <li class="fr">
           <span class="icon icon3"></span>
         </li>
       </ul>

    </div>
    <ul class="course_nav " id="nav">
      <li class=""><a href="">课程信息</a></li>
      <li class=""><a href="">课程目录</a></li>
      <li class="cur"><a href="">课程评价</a></li>
    </ul>

    <ul class="list_border course_con">
      <li class="">
        <el-row style="font-size: .22rem;">
          <el-col :span="4"><img class="person_header" src="../img/img01.jpg"></el-col>
          <el-col :span="6" class="">
            <p>张小娴</p>
            <el-rate
              v-model="value5"
              disabled
              text-color="#ff9900"
              text-template="{value}">
            </el-rate>
          </el-col>
          <el-col :span="14">For love that seeks aught but the disclosure of its own mystery is not love but a net cast forth: and only the unprofitable is caught. the disclosure of  caught. </el-col>
        </el-row>
      </li>
      <li>
        <el-row style="font-size: .22rem;">
          <el-col :span="4"><img class="person_header" src="../img/img01.jpg"></el-col>
          <el-col :span="6" class="">
            <p>张小娴</p>
            <el-rate
              v-model="value5"
              disabled
              text-color="#ff9900"
              text-template="{value}">
            </el-rate>
          </el-col>
          <el-col :span="14">For love that seeks aught but the disclosure of its own mystery is not love but a net cast forth: and only the unprofitable is caught. the disclosure of  caught. </el-col>
        </el-row>
      </li>
      <li>
        <el-row style="font-size: .22rem;">
          <el-col :span="4"><img class="person_header" src="../img/img01.jpg"></el-col>
          <el-col :span="6" class="">
            <p>张小娴</p>
            <el-rate
              v-model="value5"
              disabled
              text-color="#ff9900"
              text-template="{value}">
            </el-rate>
          </el-col>
          <el-col :span="14">For love that seeks aught but the disclosure of its own mystery is not love but a net cast forth: and only the unprofitable is caught. the disclosure of  caught. </el-col>
        </el-row>
      </li>
      <li>
        <el-row style="font-size: .22rem;">
          <el-col :span="4"><img class="person_header" src="../img/img01.jpg"></el-col>
          <el-col :span="6" class="">
            <p>张小娴</p>
            <el-rate
              v-model="value5"
              disabled
              text-color="#ff9900"
              text-template="{value}">
            </el-rate>
          </el-col>
          <el-col :span="14">For love that seeks aught but the disclosure of its own mystery is not love but a net cast forth: and only the unprofitable is caught. the disclosure of  caught. </el-col>
        </el-row>
      </li>
    </ul>
  </section>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                visible: false,
                heartActive:true,
                value5: 3
            }
        },
        methods : {
          heartClick : function() {
            this.heartActive = this.heartActive ? false : true;
          }
        }
    })
</script>
</body>
</html>
