<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--<meta id=”viewport” name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no”>-->
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name=”MobileOptimized” content=”320″>
  <meta name=”format-detection” content=”telephone=no”>
  <title>smile</title>
  <link href="../css/common.css" type="text/css" rel="stylesheet"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
 <script>
(function (doc, win) {
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                if(clientWidth>=640){
                    docEl.style.fontSize = '100px';
                }else{
                    docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                }
            };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</head>
<body>
<div id="app">
<header>
    <div class="logo_c">
      <a class="tl" href="##"><img src="../img/back.png" alt="返回"/></a>
      <a class="tc" href="##"><img src="../img/logo.png" alt="smile"  class="logo1"/></a>
      <a class="tr" href="##"><img src="../img/home.png" alt="更多" /></a>
    </div>
  </header>
  <section>
    <div class="appraise_w">
       <div class="face_img3 ">

       </div>
      <div class="face_font">
        <span>没有找到与 <span>“ 销售经理销售经理销售经理 ”</span> 相关课程？</span></br>
        <span>赶紧去发起约课吧。</span>
      </div>
      <el-row>
        <el-col :span="12"> <button class="exam_btn orange_b fr" type="button">发起约课</button></el-col>
        <el-col :span="12"> <button class="exam_btn green_b fl" type="button">返回首页</button></el-col>
      </el-row>
    </div>
  </section>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return { visible: false }
        }
    })
</script>
</body>
</html>
