<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--<meta id=”viewport” name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no”>-->
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name=”MobileOptimized” content=”320″>
  <meta name=”format-detection” content=”telephone=no”>
  <title>smile</title>
  <link href="../css/common.css" type="text/css" rel="stylesheet"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
 <script>
(function (doc, win) {
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                if(clientWidth>=640){
                    docEl.style.fontSize = '100px';
                }else{
                    docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                }
            };

        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
  <style>
    .el-rate__icon {
      font-size: .16rem;
      margin-right: .006rem;
    }
    .el-tabs__active-bar{
      width: 0!important;
      transform: translateX(0rem)!important;
    }
    .el-tabs__item.is-active:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: .3rem;
      right: .3rem;
      height: 3px;
      background: #00b553;
      z-index: 2;
    }
    .el-tabs__item {
      padding: 0 .5rem;
      height: .7rem;
      box-sizing: border-box;
      line-height: .5rem;
      display: inline-block;
      list-style: none;
      font-size: .28rem;
      color: #666;
      position: relative;
      width:33.33%;
    }
    .el-tabs__item.is-active {
      color: #00b553;
    }
    .el-tabs__nav{
      width:100%;
      text-align: center;
      margin-top: -.3rem;
    }
    .el-tabs__header {
      border-bottom:0;
      margin: 0;
    }
    .el-tabs__nav .el-tabs__item:first-child{
      border-right:1px solid #ededed;
    }
  </style>
</head>
<body>
<div id="app">
<header>
  <div class="logo_c">
    <a class="tl" href="../course/course.html"><img src="../img/back.png" alt="返回"/></a>
    <a class="tc" href="../course/course3.html"><img src="../img/logo.png" alt="smile"  class="logo1"/></a>
    <a class="tr" href="../course/course5.html"><img src="../img/home.png" alt="更多" /></a>
  </div>
  </header>
  <section>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="我的课程"  name="first">
        <ul class="list_border course_line">
          <li class="course_list  line_only">
            <a>
              <img src="../img/img1.png" class="fl img_bg">
              <div class="course_cen">
                <div class="hidden">
                  <h3 class="fl">销售经理的十大必杀技秘诀销售经理的十大必杀技秘诀</h3>
                  <ul class="small_icon fr">
                    <li class="fl">
                      <span class="icon icon1"></span>
                      <span class="green00b">80</span>
                    </li>
                    <li class="fl">
                      <span class="icon icon2"></span>
                      <span class="redff7">80</span>
                    </li>
                  </ul>
                </div>
                <p class="exam_explain">
                  考试说明：这里是考试说明考试靠什么考试说明：这里是考试说明考试靠什么考试说明：这里是考试说明考试靠什么考试说明：这里是考试说明考试靠什么
                </p>
              </div>
            </a>
          </li>
          <li class="course_list  line_only">
            <a>
              <img src="../img/img1.png" class="fl img_bg">
              <div class="course_cen">
                <div class="hidden">
                  <h3 class="fl">销售经理的十大必杀技秘诀销售经理的十大必杀技秘诀</h3>
                  <ul class="small_icon fr">
                    <li class="fl">
                      <span class="icon icon1"></span>
                      <span class="green00b">80</span>
                    </li>
                    <li class="fl">
                      <span class="icon icon2"></span>
                      <span class="redff7">80</span>
                    </li>
                  </ul>
                </div>
                <p class="exam_explain">
                  考试说明：这里是考试说明考试靠什么
                </p>
              </div>
            </a>
          </li>
        </ul>
      </el-tab-pane>
      <el-tab-pane label="我的报名" name="second">
        <ul class=" list_border course_line reg_nohover">
          <li class="course_list  line_only">
            <a>
              <img class="person_header fl" src="../img/img01.jpg">
              <div class="bm_con">
                <div class="hidden bm_font">
                  <h3 class="fl mb15">销售经理的十大必杀技秘诀销售经理的十大必杀技秘诀</h3>
                  <p class="">主讲：王小明</p>
                  <p>2017-10-11--2017-10-12</p>
                  <ul class="small_icon fr">
                    <li class="fl">
                      <span class="icon icon1"></span>
                      <span class="green00b">80</span>
                    </li>
                    <li class="fl">
                      <span class="icon icon2"></span>
                      <span class="redff7">80</span>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li class="course_list  line_only">
            <a>
              <img class="person_header fl" src="../img/img01.jpg">
              <div class="bm_con">
                <div class="hidden bm_font">
                  <h3 class="fl mb15">销售经理的十大必杀技秘诀销售经理的十大必杀技秘诀</h3>
                  <p class="">主讲：王小明</p>
                  <p>2017-10-11--2017-10-12</p>
                  <ul class="small_icon fr">
                    <li class="fl">
                      <span class="icon icon1"></span>
                      <span class="green00b">80</span>
                    </li>
                    <li class="fl">
                      <span class="icon icon2"></span>
                      <span class="redff7">80</span>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </el-tab-pane>
      <el-tab-pane label="我的考试" name="third">
        <ul class="list_border course_line">
          <li class="course_list  line_only">
            <a>
              <img src="../img/img1.png" class="fl img_bg">
              <div class="course_cen">
                <div class="hidden">
                  <h3 class="fl">销售经理的十大必杀技秘诀销售经理的十大必杀技秘诀</h3>
                  <ul class="small_icon fr">
                    <li class="fl">
                      <span class="icon icon1"></span>
                      <span class="green00b">80</span>
                    </li>
                    <li class="fl">
                      <span class="icon icon2"></span>
                      <span class="redff7">80</span>
                    </li>
                  </ul>
                </div>
                <p class="exam_explain">
                  考试说明：这里是考试说明考试靠什么考试说明：这里是考试说明考试靠什么考试说明：这里是考试说明考试靠什么考试说明：这里是考试说明考试靠什么
                </p>
              </div>
            </a>
          </li>
          <li class="course_list  line_only">
            <a>
              <img src="../img/img1.png" class="fl img_bg">
              <div class="course_cen">
                <div class="hidden">
                  <h3 class="fl">销售经理的十大必杀技秘诀销售经理的十大必杀技秘诀</h3>
                  <ul class="small_icon fr">
                    <li class="fl">
                      <span class="icon icon1"></span>
                      <span class="green00b">80</span>
                    </li>
                    <li class="fl">
                      <span class="icon icon2"></span>
                      <span class="redff7">80</span>
                    </li>
                  </ul>
                </div>
                <p class="exam_explain">
                  考试说明：这里是考试说明考试靠什么
                </p>
              </div>
            </a>
          </li>
        </ul>
      </el-tab-pane>
    </el-tabs>


  </section>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                visible: false,
              activeName: 'first'
            }

        }
    })
</script>
</body>
</html>
