
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--<meta id=”viewport” name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no”>-->
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name=”MobileOptimized” content=”320″>
  <meta name=”format-detection” content=”telephone=no”>
  <title>smile</title>
  <link href="../css/common.css" type="text/css" rel="stylesheet"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
 <script>

(function (doc, win) {
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                if(clientWidth>=640){
                    docEl.style.fontSize = '100px';
                }else{
                    docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                }
            };

        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);

</script>
  <style>
    .person_black {
      position: absolute;
    }
  </style>
</head>
<body>
<div id="app">
<header>
  <div class="logo_c">
    <a class="tl" href="../course/course.html"><img src="../img/back.png" alt="返回"/></a>
    <a class="tc" href="../course/course3.html"><img src="../img/logo.png" alt="smile"  class="logo1"/></a>
    <a class="tr" href="../course/course5.html"><img src="../img/home.png" alt="更多" /></a>
  </div>
  </header>
  <section>
    <div class="personal_bg">
      <div class="person_tit">
        <img src="../img/img02.jpg" class="person_img">
        <p class="personal_name">我是打怪兽</p>
      </div>

      <el-row class="person_black">
        <el-col :span="8" class="per_num">
           <p>上月学习</p>
          <p class="sec_p"><span>3</span>天前</p>
        </el-col>
        <el-col :span="8"  class="per_num">
          <p>上月学习</p>
          <p class="sec_p"><span>3</span>门课程</p>
        </el-col>
        <el-col :span="8"  class="per_num">
          <p>累计学习</p>
          <p class="sec_p"><span>3</span>门课程</p>
        </el-col>
      </el-row>
    </div>
    <ul class="list_border course_con mb3hafe v_active">
      <li class="">
        <a>
          <img class="icon_per" src="../img/logo_img4.png" />
          <span class="">我的学习记录</span>
          <img class="personal_go" src="../img/go02.png" />
        </a>
      </li>
      <li class="">
        <a>
          <img class="icon_per" src="../img/logo_img5.png" />
          <span class="">我的学习任务</span>
          <img class="personal_go" src="../img/go02.png" />
        </a>
      </li>
      <li class="">
        <a>
          <img class="icon_per" src="../img/logo_img6.png" />
          <span class="">我的考试记录</span>
          <img class="personal_go" src="../img/go02.png" />
        </a>
      </li>
      <li class="">
        <a>
          <img class="icon_per" src="../img/logo_img7.png" />
          <span class="">面授报名记录</span>
          <img class="personal_go" src="../img/go02.png" />
        </a>
      </li>
      <li class="">
        <a>
          <img class="icon_per" src="../img/logo_img8.png" />
          <span class="">我的约课记录</span>
          <img class="personal_go" src="../img/go02.png" />
        </a>
      </li>
      <li class="">
        <a>
          <img class="icon_per" src="../img/logo_img9.png" />
          <span class="">我的收藏</span>
          <img class="personal_go" src="../img/go02.png" />
        </a>
      </li>
      <li class="">
        <a>
          <img class="icon_per" src="../img/logo_img10.png" />
          <span class="">修改密码</span>
          <img class="personal_go" src="../img/go02.png" />
        </a>
      </li>
    </ul>
  </section>

</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                visible: false,

            }
        }
    })
</script>
</body>
</html>
