<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业管理后台</title>
    <link href="../assets/css/common.css" type="text/css" rel="stylesheet"/>
  <link href="../assets/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<header>
    <div class="logo">
      <img class="vm" src="../assets/img/small_logo.png"/>
      <span class="vm">企业管理后台</span>
    </div>
    <ul class="fr">
      <li>
        <span class="h_icon h_icon01"></span>
        <p>基本信息</p>
      </li>
      <li>
        <span class="h_icon h_icon02"></span>
        <p>员工管理</p>
      </li>
      <li>
        <span class="h_icon h_icon03"></span>
        <p>课程类别</p>
      </li>
      <li>
        <span class="h_icon h_icon04"></span>
        <p>考试管理</p>
      </li>
      <li>
        <span class="h_icon h_icon05"></span>
        <p>报名管理</p>
      </li>
      <li>
        <span class="h_icon h_icon06"></span>
        <p>约课管理</p>
      </li>
      <li>
        <span class="h_icon h_icon07"></span>
        <p class="name_e">公司管理员</p>
      </li>
      <li>
        <span class="h_icon h_icon08"></span>
        <p>退出</p>
      </li>
    </ul>
</header>
<div class="con_main">
  <aside>
      <div class="a_tit">
          <span class="h_icon aside_icon01 vm"></span>
          <span class="vm">基本信息</span>
      </div>
    <ul>
      <!--<li>-->
        <!--<span class="vm">个人信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></span>-->
      <!--</li>-->
      <!--<li>-->
        <!--<span class="vm">个人信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></span>-->
      <!--</li>-->
    </ul>
  </aside>
  <section class="con_main_r">
    <nav>
       <img src="../assets/img/house.png" class="vm">
       <span class="vm">您的当前位置 : <span class="f_blue">基本信息</span></span>

    </nav>
    <section class="con_tab">
         <div class="con_list">
           <!--<h5>待处理事项</h5>-->
           <!--<ul class="t_form">-->
             <!--<li>-->
                 <!--<label>类型 </label>-->
                 <!--<select class='aaa' value="请选择">-->
                   <!--<option>nihao </option>-->
                   <!--<option>nihao </option>-->
                   <!--<option>nihao </option>-->
                 <!--</select>-->
             <!--</li>-->
             <!--<li>-->
               <!--<label>公司名称 </label>-->
               <!--<input type="text" placeholder="关键字"/>-->
             <!--</li>-->
             <!--<li>-->
               <!--<label>提交时间 </label>-->
               <!--<input type="text" placeholder="提交时间"/>-->
             <!--</li>-->
             <!--<li>-->
               <!--<button class="btn_b btn_bass mr10">查 询</button>-->
               <!--<button class="btn_y btn_bass">重 置</button>-->
             <!--</li>-->
           <!--</ul>-->

           <table>

           </table>
         </div>


    </section>
  </section>
</div>

</body>
</html>
