body, div, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption{
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #333;
  font-weight: normal;
  font-family: "Microsoft Yahei";
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;

}

.fl{
  float: left;
}

.fr{
  float: right;
}
.tc{
  text-align: center;
}
.hide{
  display: none;
}
.hidden{
  overflow:hidden;
}
.show{
  display: block;
}
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vm{
  vertical-align: middle;
}
::-webkit-input-placeholder{
  color:#999!important;
}

.clear{clear: both;display: block;font-size: 0;height: 0;line-height: 0;overflow: hidden;}
/*margin padding*/
