
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--<meta id=”viewport” name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no”>-->
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name=”MobileOptimized” content=”320″>
  <meta name=”format-detection” content=”telephone=no”>
  <title>smile</title>
  <link href="../css/common.css" type="text/css" rel="stylesheet"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
 <script>

(function (doc, win) {
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                if(clientWidth>=640){
                    docEl.style.fontSize = '100px';
                }else{
                    docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                }
            };

        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);

</script>
  <style>
    .el-rate__icon {
      font-size: .16rem;
      margin-right: .006rem;
    }
    .el-tabs__active-bar{
      width: 0!important;
      transform: translateX(0rem)!important;
    }
    .el-tabs__item.is-active:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: .3rem;
      right: .3rem;
      height: 3px;
      background: #00b553;
      z-index: 2;
    }
    .el-tabs__item {
      padding: 0 .5rem;
      height: .7rem;
      box-sizing: border-box;
      line-height: .5rem;
      display: inline-block;
      list-style: none;
      font-size: .28rem;
      color: #666;
      position: relative;
      width:33.33%;
    }
    .el-tabs__item.is-active {
      color: #00b553;
    }
    .el-tabs__nav{
      width:100%;
      text-align: center;
      margin-top: -.3rem;
    }
    .el-tabs__header {
      border-bottom:0;
      margin: 0;
    }
    .el-tabs__nav .el-tabs__item:first-child{
      border-right:1px solid #ededed;
    }
  </style>
</head>
<body>
<div id="app">
<header>
  <div class="logo_c">
    <a class="tl" href="../course/course.html"><img src="../img/back.png" alt="返回"/></a>
    <a class="tc" href="../course/course3.html"><img src="../img/logo.png" alt="smile"  class="logo1"/></a>
    <a class="tr" href="../course/course5.html"><img src="../img/home.png" alt="更多" /></a>
  </div>
  </header>
  <section>
     <div class="course_banner">
       <a href="../course/course5.html"><img src="../img/banner_03.png"/></a>
     </div>
    <div class="course_tit">
       <h3>销售经理十大必杀技</h3>
       <ul class="c_icon">
         <li class="fl">
            <span class="icon icon1"></span>
            <span class="green00b">80</span>
         </li>
         <li class="fl">
           <span class="icon icon2"></span>
           <span class="redff7">80</span>
         </li>
         <li class="fr">
           <!--<span id="c_save" @click="heartClick()" :class="heartActive ? 'icon icon5' : 'icon icon4' "></span>-->
           <span id="c_save" @click="heartClick()" :class="{icon:true,icon4:!heartActive,icon5:heartActive}"></span>
         </li>
         <li class="fr">
           <span class="icon icon3"></span>
         </li>
       </ul>

    </div>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="课程信息"  name="first">
        <ul class="list_border course_con mb3hafe">
          <li class="">
            <span>讲师 :</span>  王小明
          </li>
          <li>
            <span>开班地点 :</span>  香格里拉大酒店
          </li>
          <li class="position_r">
            <span>人数 :</span>  60
            <!--此处为已满 我给注释掉了但是不要忘记还有这么一个状态-->
            <!--<em class="surplus_num red_full" style="bottom: .2rem;">已  满</em>-->
            <em class="surplus_num s_num"  style="bottom: .2rem;">剩 余 21 人</em>
          </li>
          <li>
            <span>课程简介 :</span>
           <p>
             这是一门还得尽快得到的那家啊这是一门还得尽快得到的那家啊这是一门还得尽快得到的那家啊这是一门还得尽快得到的那家啊这是一门还得尽快得到的那家啊这是一门还得尽快得到的那家啊这是一门还得尽快得到的那家啊这是一门还得尽快得到的那家啊
           </p>
          </li>
        </ul>
      </el-tab-pane>
      <el-tab-pane label="课程目录" name="second">
        <ul class="list_border course_con mb3hafe">
          <li class="">
             王小明
          </li>
          <li>
            销售部
          </li>
          <li>
             2017-10-16
          </li>

        </ul>
      </el-tab-pane>
      <el-tab-pane label="课程评价" name="third">
        <ul class="list_border course_con mb3hafe">
          <li class="">
            <el-row style="font-size: .22rem;">
              <el-col :span="4"><img class="person_header" src="../img/img01.jpg"></el-col>
              <el-col :span="6" class="">
                <p>张小娴</p>
                <el-rate
                  v-model="value5"
                  disabled
                  text-color="#ff9900"
                  text-template="{value}">
                </el-rate>
              </el-col>
              <el-col :span="14">For love that seeks aught but the disclosure of its own mystery is not love but a net cast forth: and only the unprofitable is caught. the disclosure of  caught. </el-col>
            </el-row>
          </li>
          <li>
            <el-row style="font-size: .22rem;">
              <el-col :span="4"><img class="person_header" src="../img/img01.jpg"></el-col>
              <el-col :span="6" class="">
                <p>张小娴</p>
                <el-rate
                  v-model="value5"
                  disabled
                  text-color="#ff9900"
                  text-template="{value}">
                </el-rate>
              </el-col>
              <el-col :span="14">For love that seeks aught but the disclosure of its own mystery is not love but a net cast forth: and only the unprofitable is caught. the disclosure of  caught. </el-col>
            </el-row>
          </li>
          <li>
            <el-row style="font-size: .22rem;">
              <el-col :span="4"><img class="person_header" src="../img/img01.jpg"></el-col>
              <el-col :span="6" class="">
                <p>张小娴</p>
                <el-rate
                  v-model="value5"
                  disabled
                  text-color="#ff9900"
                  text-template="{value}">
                </el-rate>
              </el-col>
              <el-col :span="14">For love that seeks aught but the disclosure of its own mystery is not love but a net cast forth: and only the unprofitable is caught. the disclosure of  caught. </el-col>
            </el-row>
          </li>
          <li>
            <el-row style="font-size: .22rem;">
              <el-col :span="4"><img class="person_header" src="../img/img01.jpg"></el-col>
              <el-col :span="6" class="">
                <p>张小娴</p>
                <el-rate
                  v-model="value5"
                  disabled
                  text-color="#ff9900"
                  text-template="{value}">
                </el-rate>
              </el-col>
              <el-col :span="14">For love that seeks aught but the disclosure of its own mystery is not love but a net cast forth: and only the unprofitable is caught. the disclosure of  caught. </el-col>
            </el-row>
          </li>
        </ul>
      </el-tab-pane>
    </el-tabs>


  </section>
  <footer>
    <button class="login_btn btn_position" type="button">我要报名</button>
  </footer>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                visible: false,
                heartActive:true,
                value5: 3,
               activeName: 'first',
            }
        },
        methods : {
          heartClick : function() {
            this.heartActive = this.heartActive ? false : true;
          }
        }
    })
</script>
</body>
</html>
